<ion-header>
  <ion-toolbar class="header-background-color">
    <ion-title class="ion-text-capitalize">
      <h1>ONLINE SERVICES</h1>
    </ion-title>
    <ion-buttons slot="start">
        <ion-button (click)="back()" slot="start" style="width: 50px;">
            <ion-icon name="chevron-back" style="color: white; font-size: 40px;" ></ion-icon>
          </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()" slot="start">
        <ion-icon name="menu-outline" style="color: white; font-size: 32px;"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="video_section_div" *ngIf="firstVideo != undefined" [ngStyle]="{'background-image':'url('+ firstVideo.snippet.thumbnails.medium.url +')'}">
  <ion-icon name="play" style="color: white; font-size: 40px;" (click)="playVideo(firstVideo);"></ion-icon>
</div>
<ion-content>
  <ion-list *ngFor="let item of videos; let i = index">
    <ion-item (click)="playVideo(item);">
      <ion-thumbnail slot="start">
        <img src={{item.snippet.thumbnails.default.url}} />
      </ion-thumbnail>
      <ion-label>
        <h2>Service {{item.snippet.publishedAt | date:'MMM d, y'}}</h2>
        <p style="font-family: 'Quicksand-Regular'; color: black;">{{item.snippet.title}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="spinner" *ngIf="isLoadingMore">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  
  <ion-button  *ngIf="!isLoading" class="button-more" mode="ios" fill="solid"  size="default" shape="round" expand="block" (click)="viewMore();">
    View More
  </ion-button>
  <app-loading *ngIf="isLoading"></app-loading>

</ion-content>
