ion-title{
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-top: 10px;
}
ion-thumbnail{
    width: 100px;
    height: 80px;
}
.header-background-color{
    --background: #414278;
    //padding-top: 10px;

}
h1{
    margin-top: 0px;
    font-family:'Cinzel-Bold';
    color: white;
}
h2{
    font-family:'Quicksand-Bold';
    font-size: large;
}
.back-icon{
    width: 30px;
    height: 30px;
}
.video_section_div{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-more{
    height: 40px;
    font-size: 12px;
    font-weight: bold !important;
    margin-left: 30% !important;
    margin-right: 30% !important;
    margin-bottom: 15px;
    --background: #414278;
    text-transform: uppercase !important;
    --color: white;
    --color-activated: white;
    --background-activated : #b0daed;
    --border-color : white;
    --border-style: solid;
    --border-width: 1px;
}
.spinner{
    display: flex;
    justify-content: center;
}