ion-title{
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-top: 5px;
}
ion-thumbnail{
    width: 60px;
    height: 60px;
}
.header-background-color{
    --background: #414278;
    //padding-top: 10px;

}
h1{
    margin-top: 0px;
    font-family:'Cinzel-Bold';
    color: white;
}
h2{
    font-family:'Quicksand-Bold';
    font-size: large;
}
.back-icon{
    width: 30px;
    height: 30px;
}
.video_section_div{ 
    width: 100%;
    height: 200px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-h{
    --background: #414278;
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}