ion-title{
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}
.header-background-color{
    --background: #414278;
    padding-top: 10px;
}
h1{
    margin-top: 0px;
    font-family:'Cinzel-Bold';
    color: white;
}
h2{
    font-family:'Quicksand-Bold';
    font-size: large;
}
.back-icon{
    width: 30px;
    height: 30px;
}