<ion-header>
  <ion-toolbar class="header-background-color">
    <ion-grid >
      <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100px; padding-top: 10px;">
        <ion-col size="12" class="ion-text-start" style="color: white;">
          Welcome to
          <h1>ST PETER'S LIVE</h1>
          <h4>What would you like to do?</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content fixed class="dark">
  <div class="card-center-image" style="background-image: url('../../../assets/images/mathew.png');">
    <div class="card-center-bg">
      <ion-grid fixed >
          <ion-row class="ion-justify-content-center ion-align-items-center" [ngStyle]="{'height': rowHeight}">
            <ion-col size="6" [routerLink]="['/live-watch']">
              <div class="menuitem_first_div" [ngStyle]="{'height': rowHeight}">
                <img src="./assets/images/youtube.png" class="start-logo"/>
                <h5 style="font-family: 'Cinzel';">WATCH OUR</h5>
                <h5 style="font-family: 'Cinzel-Bold';">SERVICES LIVE</h5>
              </div>
            </ion-col>
            <ion-col size="6" class="ion-text-center" (click)="openWithSystemBrowser('https://www.stpetersgc.com.au/make-a-donation/')">
              <div class="menuitem_second_div" [ngStyle]="{'height': rowHeight}">
                <img src="./assets/images/payment.png" class="start-logo"/>
                <h5 style="font-family: 'Cinzel';">MAKE A</h5>
                <h5 style="font-family: 'Cinzel-Bold';">DONATION</h5>
              </div>      
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center ion-align-items-center" [ngStyle]="{'height': rowHeight}">
            <ion-col size="6" [routerLink]="['/weekly']">
              <div class="menuitem_first_div" [ngStyle]="{'height': rowHeight}">
                <img src="./assets/images/newspaper.png" class="start-logo"/>
                <h5 style="font-family: 'Cinzel';">READ OUR</h5>
                <h5 style="font-family: 'Cinzel-Bold';">WEEKLY</h5>
              </div>
            </ion-col>
            <ion-col size="6" class="ion-text-center" [routerLink]="['/register']">
              <div class="menuitem_second_div" [ngStyle]="{'height': rowHeight}">
                <img src="./assets/images/clipboard.png" class="start-logo"/>
                <h5 style="font-family: 'Cinzel';">REGISTER</h5>
                <h5 style="font-family: 'Cinzel-Bold';">FOR CHURCH</h5>
              </div>      
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center ion-align-items-center" [ngStyle]="{'height': rowHeight}">
            <ion-col size="6" [routerLink]="['/bolg-news']">
              <div class="menuitem_first_div" [ngStyle]="{'height': rowHeight}">
                <img src="./assets/images/newspaper.png" class="start-logo"/>
                <h5 style="font-family: 'Cinzel';">READ OUR</h5>
                <h5 style="font-family: 'Cinzel-Bold';">BLOG/NEWS</h5>
              </div>
            </ion-col>
            <ion-col size="6" class="ion-text-center" [routerLink]="['/find-us']">
            <!-- <ion-col size="6" class="ion-text-center"> -->
              <div class="menuitem_second_div" [ngStyle]="{'height': rowHeight}">
                <img src="./assets/images/placeholder.png" class="start-logo"/>
                <h5 style="font-family: 'Cinzel-Bold';">FIND US</h5>
              </div>       
            </ion-col> 
          </ion-row>      
      </ion-grid>
    </div>
  </div>
</ion-content>
  